<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Cadastro Doações - Doador</title>
    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="styles.css" rel="stylesheet"/>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
	<link rel="icon" href="img/favicon.ico" type="image/x-icon"/>
  </head>
  <body class="bg-light">
  	
  	<!-- NAVBAR -->
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">CONTROLE DE DOAÇÕES</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/">Início</a>
        <a class="p-2 text-dark" href="/cadastrarDoador">Novo Doador</a>
        <a class="p-2 text-dark" href="/doadores">Lista Doadores</a>
      </nav>
      <a class="btn btn-outline-primary" href="/logout">Sair</a>
    </div>
   
    <!-- FORMULÁRIO -->
	<section>
		<div class="container py-4" style="background-color: white">
			<h3 class="display-4 text-center py-3">Inclusão de Novo Doador</h3>
			<form method="post">
				<div class="row" style="width: 100%; max-width: 820px; padding: 15px; margin: 0 auto">
					
					<div class="col-md-12 py-3">
						<div class="row">
						
							<div class="col-md-12 text-center">
								<th:block th:include="mensagemValidacao"></th:block>
							</div>
						
							<div class="col-md-8">
								<label> Nome: </label> 
								<input class="form-control" placeholder="Inserir Nome" type="text" name="nomeDoador"/>
							</div>
							
							<div class="col-md-4">
								<label> Data de Inclusão: </label>
								<input class="form-control" type="date" name="data"/>
							</div>
						</div>
					</div>

					<div class="col-md-12 py-3">
						<div class="row">
							<div class="col-md-3">
								<label> Endereço: </label>
								<input class="form-control" placeholder="Inserir Endereço" type="text" name="endereco"/>
							</div>
							
							<div class="col-md-3">
								<label> Bairro: </label>
								<input class="form-control" placeholder="Inserir Bairro" type="text" name="bairro"/>
							</div>
							
							<div class="col-md-3">
								<label> Complemento: </label>
								<input class="form-control" placeholder="Ex. APTO 23" type="text" name="complemento"/>
							</div>
							
							<div class="col-md-3">
								<label> Estado: </label>
								<select class="custom-select" name="estado"> 
									<option>Selecionar Estado</option> 
									<option value="AC">Acre</option> 
									<option value="AL">Alagoas</option> 
									<option value="AM">Amazonas</option> 
									<option value="AP">Amapá</option> 
									<option value="BA">Bahia</option> 
									<option value="CE">Ceará</option> 
									<option value="DF">Distrito Federal</option> 
									<option value="ES">Espírito Santo</option> 
									<option value="GO">Goiás</option> 
									<option value="MA">Maranhão</option> 
									<option value="MT">Mato Grosso</option> 
									<option value="MS">Mato Grosso do Sul</option> 
									<option value="MG">Minas Gerais</option> 
									<option value="PA">Pará</option> 
									<option value="PB">Paraíba</option> 
									<option value="PR">Paraná</option> 
									<option value="PE">Pernambuco</option> 
									<option value="PI">Piauí</option> 
									<option value="RJ">Rio de Janeiro</option> 
									<option value="RN">Rio Grande do Norte</option> 
									<option value="RO">Rondônia</option> 
									<option value="RS">Rio Grande do Sul</option> 
									<option value="RR">Roraima</option> 
									<option value="SC">Santa Catarina</option> 
									<option value="SE">Sergipe</option> 
									<option value="SP">São Paulo</option> 
									<option value="TO">Tocantins</option> 
								</select>
							</div>
						</div>
					</div>

					<div class="col-md-12 py-3">
						<div class="row">
							
							<div class="col-md-4">
								<label> CPF/CNPJ: </label>
								<input class="form-control" placeholder="Inserir CPF/CNPJ" type="text" name="cpf_cnpj"/>
							</div>
														
							<div class="col-md-4">
								<label> Contato: </label>
								<input class="form-control" placeholder="Inserir Telefone" type="text" name="contato"/>
							</div>
							
							<div class="col-md-4">
								<label> Tipo do Doador: </label>
								<select class="custom-select" name="tipoDoador">
									<option>Selecionar Tipo</option> 
									<option value="Pessoa Física">Pessoa Física</option> 
									<option value="Pessoa Jurídica">Pessoa Jurídica</option>
								</select>
							</div>

						</div>
					</div>
					
					<div class="col-md-12 text-center py-3">
						<button class="btn btn-primary" type="submit">Incluir Doador</button>
					</div>
				</div>
			</form>
		</div>
	</section>
      
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="jquery/jquery.slim.min.js"></script>
    <script src="popper.js/popper.js.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="holder/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>
</html>
